.aboutMe {
    box-sizing: border-box;
    background-color: $color-bg;
    padding: 100px;
    &-title {
        @include title;
    }
    &-items {
        min-height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;

        .aboutMe-item{
            white-space: pre-line;
            text-align: center;
        }
    }
}